/* ContactPage.scss */
.contact-page {
    .partner-section,
    .contact-info {
      text-align: center;
      padding: 100px;
      margin-bottom: 20px;
      background-color: white; /* Assuming a light theme similar to Ordercube */
    }
  
    .partner-section {
      button {
        background-color: #daa520; /* Golden color */
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  
    .map-section {
      height: 500px; /* Adjust height as necessary */
      width: 100%;
    }
  
    .contact-info address {
      font-style: normal; /* Addresses are italic by default */
      line-height: 1.6;
    }
  }
  