.om-oss {
    padding: 300px;
    background: #fff;
    text-align: center;
  
    h1 {
      color: #daa520;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
  